<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="龍达国际快递有限公司,龙达国际快递有限公司,国际快递,国际空运,邮政大包,邮政小包">
    <meta name="author" content="">

    <title>龍达国际快递有限公司,龙达国际快递有限公司,国际快递,国际空运,邮政大包,邮政小包</title>
    <link href="/static/ld/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>龙达国际快递新订单产生：</div><br/>
    <table class="table table-striped" style="width:400px;padding:5px;border:1px solid #333;">
        <caption>订单编号:{{ s }}</caption>
        <thead>
        <tr>
            <th>姓名</th>
            <th>电话</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ name }}</td>
            <td>{{ tel }}</td>
            <td>{{ address }}</td>
        </tr>
        </tbody>
    </table>
</body>